.pagination {
    text-align: center;
}
.pagination__number {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
}
.pagination__number-active {
    background-color: #a892ee;
    color: #fff;
}