.pagination {
    text-align: center;
}
.pagination__number,
.pagination__prev,
.pagination__next {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
}
.pagination__number-active {
    background-color: #380f5f;
    color: #fff;
}
.pagination__prev,
.pagination__next {
    background: none;
    color: #fff;
}