.pagination {
    text-align: center;
}
.pagination__number {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #4b4b4b;
}
.pagination__number-active {
    background-color: #380f5f;
    color: #fff;
}
.pagination__prev,
.pagination__next {
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}
.pagination__prev {
    margin-right: 5px;
}
.pagination__next {
    margin-left: 5px;
}