.expense-item {
    position: relative;
    padding: 1rem 0.8rem;
    margin: .5rem;
    background-color: #F6F6F7;
    transition: transform .3s;
    border-radius: 7px;
    cursor: pointer;
}
.expense-item:hover,
.expense-item:focus {
    /* transform: scale(1.01) */
}
.expense-item.on{
    transform: translateX(-10%);
}
.expense-item__description {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.expense-item p{
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    background-color: #EAE9EB;
    font-size: 12px;
    font-weight: 600;
    color: #4F86A2;
}
.expense-item h2{
    margin: 10px 0 5px;
    font-weight: 500;
}
.expense-item__price{
    padding-right: 1em;
    font-size: 16px;
    color: #6a9e85;
}
.expense-item__price.outcome {
    color: orangered;
}
.expense-item__btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 70px;
    height: 100%;
    border: 1px solid orangered;
    /* opacity: 0;
    pointer-events: none; */
}
