.expense-item {
  position: relative;

  cursor: pointer;
}

.expense-item.on {
  transform: translateX(-10%);
}

.expense-item__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 1.2rem;
  margin: 0.5rem 0;
  background-color: #f7f7f7;
  border-radius: 8px;
  transition: transform 0.3s;
}
.expense-item__description * {
  pointer-events: none;
}
.expense-item p {
  display: inline-block;
  padding: 5px;
  border-radius: 7px;
  background-color: #eae9eb;
  font-size: 12px;
  font-weight: 600;
  color: #4f86a2;
}
.expense-item h2 {
  margin: 10px 0 5px;
  font-weight: 500;
}
.expense-item__price {
  padding-right: 1em;
  font-size: 16px;
  color: #6a9e85;
}
.expense-item__price.outcome {
  color: orangered;
}
.expense-item__btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 70px;
  height: 100%;
  border: 1px solid orangered;
  /* opacity: 0;
    pointer-events: none; */
}
