.income {
  margin-bottom: 30px;
}

.income__chart--bar {
  width: 100%;
  height: 200px;
}

.pie-chart.income {
  width: 50%;
}

.pie-chart.income .income__chart--bar {
  height: 350px;
}

.income__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}