.components-container {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 7px;
  padding: 50px 20px;
  background-color: #e9eff4;
  overflow: hidden;
}
.components-container h1 {
  margin-bottom: 1em;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #27576f;
}
